# Données téléchargées
TP0/gutenberg_data/
TP0/word_counts_result/
TP1/data/

# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
env/
*.egg-info/
dist/
build/
.*
# Spark
derby.log
metastore_db/
spark-warehouse/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
